<h1>Nowy edytor</h1>

<% form_for(@editor, :url => admin_editors_path) do |f| %>

  <p>
    <%= f.label :admin, "Admin?" %><br />
    <%= f.check_box :admin %>

  </p>
  <p>
    <%= f.label :password, "Hasło" %><br />
    <%= f.text_field :password %>
    <%= error_message_on @editor, :password %>    
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
    <%= error_message_on @editor, :login %>    
  </p>
  <p>
    <%= f.label :name_surname, "Imię i nazwisko" %><br />
    <%= f.text_field :name_surname %>
    <%= error_message_on @editor, :name_surname %>    
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= error_message_on @editor, :email %>    
  </p>
  <p>
    <%= f.submit 'Utwórz' %>
  </p>
<% end %>

