<div id="box">
<div class="standard"> 

<h3><%= link_to "Aktualności", :controller => "news", :action => "index" %></h3>
</div>

<div id="news">

<div class="news-one">
    <span class="title"><%= link_to @new.title, :controller => "news", :action => "show", :id => @new %></span> 
    <p class="date"> <%=h @new.created_at %></p>
    <p class="content"><%= simple_format(h @new.contents) %></p>
    <p class="signature">Dodane przez:<span class="signature"><%=h @new.editor.login %></span></p>
</div>

</div><!-- news -->
</div><!-- box -->
