<h1>New tag</h1>

<% form_for(@tag) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= error_message_on @tag, :name %>  
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tags_path %>
