<h2>Lista miejsc otagowanych jako <%= @tag.name %></h2>

<table>
  <tr>
    <th>Opublikowane</th>
    <th>Nazwa</th>
    <th>Ulica</th>
    <th>Godziny otwarcia:</th>
    <th>Zarządzaj</th>
    <th>Historia edycji</th>
  </tr>
   <% @places.each do |place| %>
  <tr>

    <td><% if place.active %>Tak<% else %> Nie <% end %></td>
    <td><%=h place.name %></td>
    <td><%=h place.street %></td>
    <td><% place.open_hours.each do |oh| %>
        <%= oh.from_day %> - <%= oh.to_day %> <%= oh.from_hour %> - <%= oh.to_hour%> <br/>
        <% end %>
    </td>
    <td><%= link_to 'Zarządzaj', admin_place_path(place) %></td>
     <td><%= link_to 'Historia', admin_place_histories_path(place) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @places, {:previous_label => "Poprzednia", :next_label => "Następna", :id => "pagination"} %>
