<h1>Listing dishes</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Is available</th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%=h dish.price %></td>
    <td><%=h dish.is_available %></td>
    <td><%= link_to 'Show', dish %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', admin_dish_place(dish), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dish', new_dish_path %>
