<div id="box">

<div class="standard"> <h3>Podgląd zgłoszonej zmiany nr <%= @change.id %></h3></div>

<div class="center">
<p>
  <b>Skorygowano?</b>
  <% if @change.done %> Tak <% else %> Nie <% end %>
</p>
<p>
  <b>Email:</b>
  <%=h @change.email %>
</p>

<p>
  <b>Author:</b>
  <%=h @change.author %>
</p>
<p>
  <b>Description:</b>
  <%=h @change.description %>
</p>

<div class="standard"> <span class="label"><%= link_to 'Edytuj', edit_admin_change_path(@change) %> </span></div>

</div>
</div><!-- box -->
