<div class="row">
  <%= label :from_day, "Od dnia:" %>
<%= select_tag "place[open_hours_attributes][#{id}][from_day]", options_for_select ( ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"]) %>
  <%= label :to_day, "Do dnia:" %>
<%= select_tag "place[open_hours_attributes][#{id}][to_day]", options_for_select ( ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"]) %>

  <span>W godzinach</span>
  <%= label :from_hour, "Od:" %>
  <%= select_hour 8, :field_name => :from_hour, :prefix => "place[open_hours_attributes][#{id}]" %>
  <%= label :to_hour, "Do:" %>
  <%= select_hour 17,:field_name => :to_hour , :prefix => "place[open_hours_attributes][#{id}]" %>  
</div>
<div id="add_hours_<%=id+1%>">
  <%= link_to_remote "Jeszcze jedno pole", :url => {:action => "new_open_hours", :id => id+1}, :update => "add_hours_#{id+1}" %>
</div>
